/* You can customize theme styles here */

@media (min-width: 1200px) {
	.section div[class*="col-"] img.image-left-overflow {
		margin-left: 0px;
	}

	.section div[class*="col-"] img {
		max-height: 430px;
	}

	.header .navbar .nav-item .nav-link {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.btn {
	padding: 0px 16px 0px 16px;
	margin: 1px;
}